.gem-c-back-to-top-link {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px
}

.gem-c-back-to-top-link__icon {
    float: left;
    margin-right: .3em;
    width: .8em;
    height: .968em
}

div.gem-c-contents-list-with-body__sticky-element--stuck-to-window div.app-back-to-top {
    margin-top: 17px;
    margin-bottom: 17px !important;
}