.gem-c-back-to-top-link {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px
}

.gem-c-back-to-top-link__icon {
    float: left;
    margin-right: .3em;
    width: .8em;
    height: .968em
}

div.gem-c-contents-list-with-body__sticky-element--stuck-to-window div.app-back-to-top {
    margin: 0px !important;
}

@media(max-width: 40.0625em) {
    .gem-c-contents-list-with-body__link-wrapper.gem-c-contents-list-with-body__sticky-element--stuck-to-window.govuk-width-container{
        padding-left: 15px;
    }
}

.gem-c-contents-list-with-body__link-container-with-side-nav .app-back-to-top a.govuk-link {
    padding-top: 17px;
    padding-bottom: 18px;
}

@media(max-width: 40.0625em) {
    .gem-c-contents-list-with-body__link-container-with-side-nav .app-back-to-top a.govuk-link {
        padding-top: 19px;
        padding-bottom: 20px;
        width: 75%;
    }
}

@media(max-width: 40.0625em) {
    .gem-c-contents-list-with-body__link-container .app-back-to-top a.govuk-link {
        padding-top: 19px;
        padding-bottom: 20px;
        width: 75%;
    }
}

.govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element {
    position: absolute;
    bottom: 0
}

.govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element--stuck-to-window {
    bottom: 0;
    position: fixed
}

.govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element--enabled {
    transition: opacity,.3s,ease;
    opacity: 1
}

@media(max-width: 40.0525em) {
    .govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element--enabled {
        position:static
    }
}

.govuk-frontend-supported .gem-c-contents-list-with-body__sticky-element--hidden {
    opacity: 0;
    pointer-events: none
}

.gem-c-contents-list-with-body__link-container {
    padding-left: 15px;
}

@media(min-width: 40.0625em) {
    .gem-c-contents-list-with-body__link-container {
        max-width:1024px
    }
}

.gem-c-contents-list-with-body__link-container .gem-c-back-to-top-link {
    margin-left: 0;
    margin-right: 0
}

.gem-c-contents-list-with-body__list-container {
    margin-bottom: 15px
}

@media(min-width: 40.0625em) {
    .gem-c-contents-list-with-body__list-container {
        margin-bottom:50px
    }
}

.gem-c-contents-list-with-body__link-wrapper {
    padding-bottom: 10px
}

.gem-c-contents-list-with-body__link-wrapper .gem-c-back-to-top-link {
    padding-bottom: 10px
}

.gem-c-contents-list-with-body__link-wrapper.gem-c-contents-list-with-body__sticky-element--stuck-to-window {
    background-color: #EBF2F6;
    bottom: -1px;
    margin: 0 auto;
    padding: 0;
    padding-left: 0;
    position: fixed;
    min-width: 100%;
    z-index: 10
}

.gem-c-contents-list-with-body__link-wrapper.gem-c-contents-list-with-body__sticky-element--stuck-to-window .gem-c-back-to-top-link {
    margin-bottom: 0;
    padding: 15px;
    width: 66%
}

@media(min-width: 40.0625em) {
    .gem-c-contents-list-with-body__link-wrapper.gem-c-contents-list-with-body__sticky-element--stuck-to-window .gem-c-back-to-top-link {
        padding:20px
    }
}

