@using Childrens_Social_Care_CPD.Configuration.Features;

@inject IFeaturesConfig featuresConfig

@{
    ContextModel viewModel = ViewBag.ContextModel;
    var category = viewModel.Category ?? "Home";
}

@functions {
    public void RenderMenuItem(string id, string text, string path, bool selected)
    {
        var cssModifier = selected ? "dfe-header__navigation-item--current" : string.Empty;

        if (selected) {
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                <a class="govuk-service-navigation__link" href="#" aria-current="true">
                    <strong class="govuk-service-navigation__active-fallback">@text</strong>
                </a>
            </li>
        } else {
            <li class="govuk-service-navigation__item">
                <a class="govuk-service-navigation__link" href="#">
                    @text
                </a>
            </li>
        }
    }
}
<header class="govuk-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="#" class="govuk-header__link govuk-header__link--homepage">
                <img src="/assets/images/dfe-logo.png" alt="Department for Education" class="govuk-header__logotype">
            </a>
        </div>
    </div>
</header>
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <span class="govuk-service-navigation__service-name">
                <a href="#" class="govuk-service-navigation__link">
                    Support for social workers
                </a>
            </span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
                    Menu
                </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                @{
                    RenderMenuItem("home", "Home", "home", category == "Home");
                    RenderMenuItem("career", "Careers guidance", "career-stages", category == "Career information");
                    RenderMenuItem("developmentProgrammes", "Professional development", "development-programmes", category == "Development programmes");
                    RenderMenuItem("exploreRoles", "Resources for managers and leaders", "resources-for-managers-and-leaders", category == "Explore roles");
                }
                </ul>
            </nav>
        </div>
    </div>
</section>

