@using Childrens_Social_Care_CPD.Contentful.Models;

@model RichTextBlock;

@functions 
{
    void RenderTitle()
    {
        if (Model.DisplayTitle)
        {
            string level = "";
            string cssClass = "";

            switch (Model.TitleLevel)
            {
                case 0:
                case 2:
                default:
                    level = "2";
                    cssClass = "govuk-heading-m";
                break;

                case 1:
                    level = "1";
                    cssClass = "govuk-heading-l";
                break;

                case 3:
                    level = "3";
                    cssClass = "govuk-heading-s";
                break;
            }

            var tagBuilder = new TagBuilder($"h{level}");
            tagBuilder.AddCssClass(cssClass);
            tagBuilder.InnerHtml.Append(Model.Title);

            @tagBuilder
        }
    }
}

@if (ViewBag.ContextModel.UseContainers ?? true)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            @{ RenderTitle(); }
            <partial name="_RichText" model="Model.Document" />
        </div>
    </div>
}
else
{
    RenderTitle();
    <partial name="_RichText" model="Model.Document" />
}