<!--<div data-sticky-element class="gem-c-contents-list-with-body__link-wrapper gem-c-contents-list-with-body__sticky-element--stuck-to-window gem-c-contents-list-with-body__sticky-element--enabled">-->
<div data-sticky-element class="gem-c-contents-list-with-body__link-wrapper">
    <div class="gem-c-contents-list-with-body__link-container">
        <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#swcd-page-top">
            <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Back to top
        </a>
    </div>
</div>