.govuk-width-container {
    max-width: 1200px;
}
.govuk-header__link .govuk-header__logotype{
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype{
  content: url(/assets/images/dfe-logo-alt.png);
  height: 30px;
}